*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(65, 0, 109);
}

header{
    height: 10vh;

    color: #fff;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

h2{
    font-size: 18px;
    direction: rtl;
    margin-right: 5%;
    margin-bottom: 10px;
}

.nameOutput{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.ball{
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputfield{
    display: flex;
    justify-content: center;
}

input{
    padding: 15px 50px 15px 15px;
    font-size: 15px;
    border-radius: 30px;
    text-align: left;
    border: 0;
}

.inputfield input{
    position: absolute;
    top: 65vh;
}

input:focus{
    outline: 2px solid rgb(140, 0, 255);
}

button{
    padding: 10px 80px;
    font-size: 20px;
    border-radius: 30px;
    background-color: purple;
    color: white;
    border: 2px solid rgb(18, 0, 31);
}

.inputfield button{
    position: absolute;
    top: 75vh;
}

button:hover{
    background-color: rgb(85, 0, 85);
}

button:active{
    background-color: rgb(34, 25, 34);
}

#response{
    width: 70px;
    color: black;
    border-radius: 50%;
    text-align: center;
    font-size: 120px;
}

.whitesurface{
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}

#greetingOutput{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-weight: 600;
}

footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer li {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  

@media only screen and (max-width: 480px) {
    /* стили для устройств с максимальной шириной экрана 480px или меньше */
    body {
    font-size: 12px;
    }
    
    h1 {
    font-size: 20px;
    margin-bottom: 10px;
    }
    
    h2 {
    font-size: 14px;
    margin-bottom: 5px;
    }
    
    main {
    padding: 10px;
    }
    
    .ball {
    width: 150px;
    height: 150px;
    }
    
    .whitesurface {
    width: 50px;
    height: 50px;
    }
    
    .inputfield input {
    padding: 8px;
    font-size: 10px;
    }
    
    .inputfield button {
    padding: 6px 30px;
    font-size: 14px;
    }
    
    #response {
    font-size: 80px;
    }
    
    #greetingOutput {
    font-size: 16px;
    margin: 20px;
    }
    
    footer h3 {
    font-size: 16px;
    margin-bottom: 5px;
    }
    
    footer li {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 3px;
    }
    }

/* Медиа запрос для телефонов */
@media (max-width: 767px) {
    header {
    height: 8vh;
    }
    
    h1 {
    font-size: 24px;
    }
    
    h2 {
    font-size: 16px;
    margin-right: 2%;
    }
    
    .nameOutput {
    font-size: 18px;
    }
    
    main {
    height: auto;
    padding: 20px;
    }
    
    .ball {
    width: 200px;
    height: 200px;
    }
    
    .inputfield input {
    top: 55vh;
    }
    
    .inputfield button {
    top: 65vh;
    font-size: 18px;
    }
    
    #response {
    width: 50px;
    font-size: 80px;
    }
    
    .whitesurface {
    width: 100px;
    height: 100px;
    }
    
    .flex {
    margin-right: 2%;
    }
    
    #greetingOutput {
    margin: 20px;
    font-size: 18px;
    }
    
    footer {
    padding: 10px;
    }
    
    footer h3 {
    font-size: 16px;
    margin-bottom: 5px;
    }
    
    footer li {
    font-size: 12px;
    line-height: 1.2;
    }
    }
    
    /* Медиа запрос для планшетов */
    @media (min-width: 768px) and (max-width: 1023px) {
    header {
    height: 8vh;
    }
    
    h1 {
    font-size: 32px;
    }
    
    h2 {
    font-size: 18px;
    margin-right: 2%;
    }
    
    .nameOutput {
    font-size: 24px;
    }
    
    main {
    height: auto;
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    }
    
    .ball {
    width: 250px;
    height: 250px;
    }
    
    .inputfield input {
    top: 60vh;
    font-size: 18px;
    }
    
    .inputfield button {
    top: 70vh;
    font-size: 22px;
    }
    
    #response {
    width: 60px;
    font-size: 100px;
    }
    
    .whitesurface {
    width: 120px;
    height: 120px;
    }
    
    .flex {
    margin-right: 2%;
    }
    
    #greetingOutput {
    margin: 30px;
    font-size: 24px;
    }
    
    footer {
    padding: 20px;
    }
    
    footer h3 {
    font-size: 16px;
    margin-bottom: 10px;
    }
    
    footer li {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    }
    }